@font-face{
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?iefix') format('eot'),
    url('../fonts/Geometria.woff') format('woff'),
    url('../fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Geometria Italic';
    src: url('../fonts/Geometria-Italic.eot');
    src: url('../fonts/Geometria-Italic.eot?iefix') format('eot'),
    url('../fonts/Geometria-Italic.woff') format('woff'),
    url('../fonts/Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Geometria 900';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?iefix') format('eot'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.callback{
    border: 2px solid blue;
    padding: 10px 10px 10px 10px;
}

nav{
    margin: 0;
}
.navbar{
    background: #007bff;
    text-align: center;
    color:white;
    padding: 0;
}
.head{
    margin: 0;
    padding:0;
}
.text-logo{
    font: bold 16px "Geometria 900";
    color: #005cbf;
}
.nav-item{
    padding: 20px 20px 20px 20px;
    color:white;
}
.nav-item:hover{
    background: #343a40;
}
.sidebar{
    margin: 0 0 0 0;
    background: #c3e6cb;
}
ul{
    padding:0px;
    margin: 20px 20px 20px 20px;
}
.sidebar-header{
    padding: 20px 20px 20px 20px;
    background: #007bff;
    text-align: center;
    color:white;
    margin: 0 0 0 0;
}
ol.breadcrumb{
    padding:0;
    background: none;
}
.footer{
    margin:30px;
    text-align: center;
}
#brands{
    justify-content: center;
}