@font-face{
    font-family: 'Geometria-Heavy';
    src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face{
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.ttf');
}

@font-face{
    font-family: 'Geometria-ExtraBold';
    src: url('../fonts/Geometria-ExtraBold.ttf');
}

@font-face{
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.ttf');
}

@font-face{
    font-family: 'Geometria';
    src: url('../fonts/Geometria.ttf');
}

#header{
    font-size: 16px;
    line-height: 17px;
    color: white;
    font-family: 'Geometria';
    padding-bottom: 40px;
}

.information{
    padding-top: 48px;
}
.text-logo span{
    font-family: 'Geometria-Heavy';
    font-size: 32px;
    color: #04569f;
    position: relative;
}
.adress{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
}
.adress span::before{
    content: "";
    background: url(../img/geo.png);
    position: absolute;
    width: 14px;
    height: 19px;
    left: -40px;
    top: 0px;
}
.number span{
    font-family: 'Geometria-ExtraBold';
    position: relative;
    color: rgb(1, 38, 70);
    font-size: 20px;
    width: 100px;
    padding-left:0px;

}
  
.name2 span{
    font-family: 'Geometria';
    font-size: 13px;
    color: #000000;
    position: relative;
    line-height: 5px;
}
.email span{
    font-family: 'Geometria-Bold';
    font-size: 16px;
    color: #012646;
    position: relative;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}
.email span::before{
    content: "";
    background: url(../img/mail.png);
    position: absolute;
    width: 20px;
    height: 15px;
    left: -42px;
    top: 0px;
}
.callback span{
    font-family: 'Geometria-Medium';
    font-size: 13px;
    color: #012646;
    position: relative;
    display: flex;
    justify-content: left;
    width: 225px;
    margin-left: 70px;
}
.outline {
    border: 1px solid blue;
    padding:15px 10px 10px 10px;
}

.outline:hover{
    background-color: rgb(56, 135, 207); 
    color:white;   
}

.link{
    font-family: 'Geometria-Bold';
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.link:hover{
    font-size:16px; 
    color:white; 
    font-weight:bold
}

.selections{
    color:#000000;
}

.menu {
    margin: 70px 15px 0px 15px;
    text-align: center;
    background-color: rgb(4, 86, 159);
    position: relative; display: table;
    width: 100%; height: 50px;
}

.menu li a {
   display: block; position: relative;
   width: 100%; height: 100%;
   text-align:center;
   color:white;
   line-height: 50px; /* для того чтобы отцентрировать текст по вертикали */
}


.menu li a:hover{
    background-color: rgb(56, 135, 207);
}


.navbar-nav{
    display: -ms-flexbox;
    display: table;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width:100%;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.menu.navbar.navbar-expand-lg.navbar-dark{
    margin:15px 15px;
    padding: 0px;
}


.collapse.navbar-collapse li{
    display: table-cell;
    position: relative;
}

.nav-item a:hover{
    background-color: rgb(56, 135, 207);
}






.selections-table{
    padding: 18px 18px 18px 18px;
}

.selections-table:hover{
    background: #3887cf;
}
.sidebar-header{
        font-size: 22px;
        text-align: center;
        padding:22px 0px;
        font-family: "Geometria";
        color: rgb(255, 255, 255);   
        background-color: rgb(4, 86, 159);
}  
.about{
    color: rgb(4, 86, 159);
}
.sidemenu{
    padding: 10px 0px 10px 0px;
    background-color: rgb(244, 244, 244);      
}
.breadcrumb{
    margin:0px;
    color: rgb(4, 86, 159);
    font-weight: bold;
}
ol.breadcrumb{
    padding:0;
    background: none;
}
.footer{
    margin:30px;
    text-align: center;
}
.brand{
    vertical-align: center;
    padding:18px 0px;
    background-color: rgb(4, 86, 159);
    color:white;
    text-align: center;
    font-weight: bold;
}  

#brands{
    justify-content: center;
}
.side-item{
    margin:15px 15px 15px 15px;
    font: bold 13px "Geometria";
    color: rgb(48, 48, 48);
    vertical-align: center;

}

.menu-footer {
    margin: 70px 15px 0px 15px;
    text-align: center;
    background-color: none;
    position: relative; display: table;
    width: 100%; height: 50px;
}
.menu-footer li {
   display: table-cell; position: relative;
}
.menu-footer li a {
   display: block; position: relative;
   width: 100%; height: 100%;
   text-align:center;
   font-weight: bold;
   color: rgb(4, 86, 159);
   line-height: 50px; /* для того чтобы отцентрировать текст по вертикали */
}

.menu-footer li a:hover{
    color: rgb(56, 135, 207);
}

.menu-footer li ul li { display: block; }
.menu-footer li:hover ul { display: block; }

#carouselExampleControls{
    background-color: rgb(236, 237, 238);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 45px;
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '►';
  font-size: 40px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '◄';
  font-size: 40px;
  color: black;
}













@media (min-width: 0) and (max-width: 768px){
    .information{
        padding-top:15px;
    }

    .text-logo span{
        margin: 25px 0px;
        font-family: 'Geometria-Heavy';
        font-size: 32px;
        color: #04569f;
        position: relative;
    }
    .adress{
        font-family: 'Geometria-Bold';
        font-size: 16px;
        color: #012646;
        position: relative;
    }
    .adress span::before{
        content: "";
        background: none;
        position: absolute;
        width: 14px;
        height: 19px;
        left: -40px;
        top: 0px;
    }
    .number span{
        font-family: 'Geometria-ExtraBold';
        position: relative;
        color: rgb(1, 38, 70);
        font-size: 20px;
        width: 100px;
        padding-left:0px;

    }

    .name2 span{
        font-family: 'Geometria';
        font-size: 13px;
        color: #000000;
        position: relative;
        line-height: 5px;
    }
    .email span{
        font-family: 'Geometria-Bold';
        font-size: 16px;
        color: #012646;
        position: relative;
        height: 100px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
    }
    .email span::before{
        content: "";
        background: none;
        position: absolute;
        width: 14px;
        height: 19px;
        left: -40px;
        top: 0px;
    }
    .callback span{
        font-family: 'Geometria-Medium';
        font-size: 13px;
        color: #012646;
        position: relative;
        display: flex;
        justify-content: left;
        width: 225px;
        margin-left: 70px;
    }
    .outline {
        border: 1px solid blue;
        padding:15px 10px 10px 10px;
    }

    .outline:hover{
        background-color: rgb(56, 135, 207);
        color:white;
    }
    .callback span{
        margin-left: 0px;
        margin-top: 20px;
    }
    .number{
        text-align: left!important;
    }

    .menu{
        margin-top: 20px;
    }
}